/* some style */
.fg1 {    
    color: #fbf1c7;
}

.grey {
    color: #928374;
}

.green10 {
    color: #b8bb26;
}

.yellow {
    color: #fabd2f;
}

.orange {
    color: #fe8019;
}

.purple {
    color : #d3869b;
}
