body {
    background-color : "#F9F9F9" !important;
    font-family :'Open Sans', sans-serif;
    background-image: url("img/rocky-wall.png");
}
.jumbotron {
    background-image: url(img/jumbotron.jpg); 
    background-size: cover;
    height:300px;
}
