
body {
    background-color : "#F9F9F9" !important;
    font-family :'Open Sans', sans-serif;
    
}
.jumbotron {
    background-image: url(/img/jumbotron.jpg); 
    background-size: cover;
    height:300px;
}

/* some style */
.fg1 {    
    color: #fbf1c7;
}

.grey {
    color: #928374;
}

.green10 {
    color: #b8bb26;
}

.yellow {
    color: #fabd2f;
}

.orange {
    color: #fe8019;
}

.purple {
    color : #d3869b;
}

.topline {
	background-image: linear-gradient(to right, red,orange,yellow,green,violet);
	height: 3px;
}

ul#menu {
    padding-top: 30px;
  }

ul#menu li {
    display:inline;
    padding-left: 10px;
    padding-right: 10px;
  }
